*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.danger-color{
    color: red;
};

body{
    height: 100vh;
    width: 100vw;
    display: inline-block   ;
}

.outer-div{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-contner{

    border: 2px solid white;
    color: whitesmoke;
    background-image: linear-gradient(to bottom,rgb(126, 102, 232), rgb(228, 144, 129));
    height: 70vh;
    width: 30vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.main-contner > h3 {
    font-size: 2.5rem;
    margin: 2rem;
}

.count-number {
    font-size: 3rem;
}

.btn{
    cursor: pointer;
    width: calc(30vh - 5rem);
    height: 3rem;
    /* margin: 1rem; */
    padding: 0.5rem;
    font-size: 1.6rem;
    margin-top: 4rem;
    outline: 1px solid white;
}


.warning-text {
    font-size: 1.4rem;
    margin-top: 2rem;
}

/* Responsive  */
/* Mobile size  */

@media screen and (max-width :426px){
    .main-contner{
        height: 76vh;
        width: 80vw;
    }
}

/* Tab size  */

@media screen and (min-width: 427px) and (max-width: 768px){
    .main-contner{
        height: 83vh;
        width: 75vw;
    }
}